<footer class="border-t border-border mt-8 py-8 px-4 bg-sidebar-foreground text-popover/50">
  <div class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-4">
    <a className="flex items-center" routerLink="/">
      <img src="aureo_logo_stacked.png" alt="Aureo" width="200" height="200" />
    </a>
    <p class="text-md font-bold">Photography, beautifully booked. © 2026 Aureo.</p>
    <div class="flex items-center gap-8 text-md font-bold">
      @for (link of FOOTER_LINKS; track link.id) {
        <a
          [routerLink]="link.href"
          [routerLinkActive]="['text-white']"
          class="hover:text-white transition-colors"
          >{{ link.label }}</a
        >
      }
    </div>
  </div>
</footer>
